/* font.css */

/* Load the Cogley font */
@font-face {
    font-family: 'Cogley';
    src: url('../assets/fonts/Cogley-TTF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Apply Cogley font globally to the entire page */
body {
    font-family: 'Cogley', sans-serif;
}

/* Apply Cogley font to the logo */
.logofont h3 {
    font-family: 'Cogley', sans-serif;
    font-size: 24px; /* Adjust size as needed */
    font-weight: normal;
}

/* Apply Cogley font to the paragraph */
p {
    font-family: 'Cogley', sans-serif;
    font-size: 18px;
}